*, *::after, *::before {
  box-sizing: border-box;
}

:root{
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size)*.9)
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: SemiBold 600;
  background-color: #E4D6A7;

}

.board {
  width: 100vw;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3,auto);
}

.hide {
  display: none;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* remove borders */
.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n+1){
  border-left: none;
}
.cell:nth-child(3n+3){
  border-right: none;
}

.cell:last-child, .cell:nth-child(8), .cell:nth-child(7) {
  border-bottom: none;
}

.cell.circle, .cell.x {
  cursor: not-allowed;
}

/* Create marks */

.cell.x::before,
.cell.x::after,
.cell.circle::before{
  background-color: #648381;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: #a7bbba;
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content:"";
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content:"";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: #E4D6A7;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 31, 31, 0.9);
  justify-content: center;
  align-items: center;
  color: #E9B44C;
  font-size: 5rem;
  flex-direction: column;

}

.winning-message button {
  font-size: 3rem;
  background-color: 648381;
  border: 1px solid #E9B44C;
  padding: .25em.5em;
  cursor: pointer;
}

.winning-message button:hover{
  background-color: #8E5572;
  color: #E9B44C;
  border-color: #E9B44C;
}

.show{
  display: flex;
}

.instructions {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 31, 31, 0.9);
  align-items: center;
  color: #E9B44C;
  font-size: 5rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oes{
  border: 2px solid  #E9B44C;
  padding: 5vw;
}

.xexes{
  border: 2px solid  #E9B44C;
  margin-right: 10vw;
  padding: 5vw;
}

#marks{
  display: flex;
  flex-direction: row;
  margin-top: 10vw;
}

.oes:hover, .xexes:hover{
  background-color: #8E5572;
  border: 2px solid  rgb(196, 187, 187);
  color: #E9B44C;
  cursor: pointer;
}

.status {
  color: #8E5572;
  font-size: 2rem;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -21px;
  width: fit-content;
}
